.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    top: 0;
    height: 10vh;

    color: white;
    background-color: rgb(32, 31, 31);
}

.nav * {
    margin: 100px;
}
