.section {
    margin-top: 4rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.section * {
    width: 60vw;
}

.header h1 {
    margin-block: 10px;
    font-size: xx-large;
}

.header img {
    object-fit: cover;
    width: 100%;
    height: auto;
    margin-block: 1rem;
    border-radius: 10px;
}

.header span {
    margin-right: 10px;
}

.article {
    font-size: larger;
    list-style: none;
}

.article hr{
    margin-block: 3rem;
}

.CommentArea{
    resize: none;
    padding: 10px;
    font-size: medium;
}
