.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 9rem;
    gap: 1rem;
}

.title * {
    margin: 0 auto;
    width: 30%;
}

.listNews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
}

.footerCard {
    display: flex;
    margin-bottom: 0.5rem;
    font-size: 10px;
    color: rgb(173, 172, 172);
    border-top: 1px solid rgb(173, 172, 172);
}

.contentCard {
    padding: 8px;
    line-break: anywhere;
    height: min-content;
}

.cardNews {
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 2fr auto 2fr;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 0px 9px 1px rgb(184, 181, 181);
    color: rgb(0, 0, 0);
    height: 23rem;
    transition: 0.3s;
}

.cardNews:hover {
    background-color: rgb(247, 244, 244);
}

.cardNews img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.cardNews h3,
.cardNews p {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.cardNews h3{
    font-size: medium;
}

.cardNews article{
    padding-inline: 1rem;
    font-size: smaller;
    color: rgb(90, 88, 88);
}

.homeContent {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.link {
    margin: 1.5rem;
}
