.home {
    margin-top: 2rem;
}

.main{
}

.title{
    margin-block: 1rem;
}

.listNews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
}

.footerCard{
    display: flex;
    margin-bottom: 0.5rem;
    font-size: 10px;
    color: rgb(119, 118, 118);
    border-top: 1px solid rgb(119, 118, 118);
}

.contentCard{
    padding: 8px;
    line-break: anywhere;
    flex-grow: 1;
}

.cardNews {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(182, 178, 178);
    color: rgb(0, 0, 0);
    height: 23rem;
    transition: 0.3s;
}

.cardNews:hover {
    background-color: rgb(241, 236, 236);
    border: 1px solid rgb(168, 166, 166);
}

.cardNews img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.cardNews h3{
    
}

.cardNews h3,
.cardNews p {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.homeContent{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.link{
    margin: 1.5rem;
    background-color: blueviolet;
}
