/* TAB */

.tabForm {
    display: flex;
    justify-content: center;
    width: 100;
    height: 100%;
}

.tabForm button {
    display: block;
    font-size: large;
    border: none;
    width: 273px;
    height: 100%;
    align-self: center;
    background-color: #413f3f;
    color: aliceblue;
    transition: 1s;
}

.tabForm button:hover {
    background-color: rgb(28, 28, 31);
    color: aliceblue;
}


.tabForm button.active{
    background-color: rgb(28, 28, 31);
    color: aliceblue;
}

/* ------------- */


.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.loginContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 74.3vh;
    background-color: #242525;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74.3vh;
    width: 100%;
    min-width: 100%;
}

.formData {
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 0px black;
    background-color: rgb(243, 243, 243);
    padding: 3rem;
    flex-direction: column;
}

.formData h2 {
    margin-block: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}


.formLogin input, .formSignup input {
    width: 100%;
    margin-block: 10px;
    padding: 18px 18px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    color: #555;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgb(87, 86, 86);
    transition:0.3s ease-in-out;
}

.formLogin input:focus, .formSignup input:focus {
    outline: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.submitBtn{
    padding: 12px;
    border-radius: 4px;
    border: none;
    width: 23vw;
    font-size: 16px;
    margin-block-start: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #242525;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.submitBtn:hover {
    background-color: #294d25;
}


.formContent {

    background-color: rgb(37, 32, 32);
}

.names{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
}
