.nav {
    position: relative;
    z-index: 1;
    box-shadow: 1px 1px 10px 5px rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1b1b1b;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.logo p {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.logo img {
    margin-inline-start: 20px;
    width: 40%;
}

.actions {
    display: flex;
    align-items: center;
}

.login {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
    margin-inline-end: 1rem;
}

.login{
    color: #ffffff;
    background-color: inherit;
    border: 2px solid #a7a5a5;
}

.login:hover {
    color: #1b1b1b;
    background-color: #ffff;
    border: 2px solid inherit;
}
