/* TAB */

.tabForm {
    display: flex;
    justify-content: center;
}

.tabForm button {
    display: block;
    font-size: large;
    font-weight: 600;
    border: none;
    width: 273px;
    height: 100%;
    padding-block: 0.7rem;
    align-self: center;
    transition: 1s;
    background-color: rgb(36, 139, 69);
    color: aliceblue;
}

.tabForm button:hover {
    background-color: rgb(15, 85, 37);
    color: aliceblue;
}

.tabForm button.active {
    background-color: rgb(28, 28, 31);
    color: aliceblue;
}

/* ------------- */

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.loginContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 74.3vh;
    background-color: #e3e9e9;
}

.form {
    height: 74.3vh;
    width: 100%;
    min-width: 100%;
}

.formData {
    margin: 2rem 10rem;
    transition: 1s;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 0px black;
    background-color: rgb(243, 243, 243);
    padding-block: 2rem;
    flex-direction: column;
}

.formData h2 {
    margin-block: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

.formLogin,
.formSignup {
    width: 546.16px;
}

.formLogin input,
.formSignup input {
    width: 100%;
    margin-block: 10px;
    padding: 18px 18px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    color: #555;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgb(87, 86, 86);
    transition: 0.3s ease-in-out;
}

.formLogin input:focus,
.formSignup input:focus {
    outline: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.submitBtn {
    padding: 12px;
    border-radius: 4px;
    border: none;
    width: 23vw;
    font-size: 16px;
    margin-block-start: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #242525;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.submitBtn:hover {
    background-color: #294d25;
}


.names {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
}
